.pdf-container {
    width: 100%; /* Ensure the PDF container takes up the full width */
    max-width: 100%; /* Set maximum width */
    margin: 0 auto; /* Center the PDF viewer horizontally */
    padding: 10px; /* Add padding for spacing */
  
    /* Additional styling for mobile devices */
    @media only screen and (max-width: 768px) {
      padding: 5px; /* Adjust padding for smaller screens */
    }
  }
  
  .pdf-viewer {
    width: 100%; /* Ensure the PDF viewer takes up the full width */
    height: 500px; /* Set a fixed height for the viewer */
  
    /* Additional styling for mobile devices */
    @media only screen and (max-width: 768px) {
      height: 300px; /* Adjust height for smaller screens */
    }
  }