.talkToAuth-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}
.ta-fotr{
    margin-left: -13% !important;
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 154px;
    line-height: 1.6;
    color: #090909;
    background-color: #f0f2f4;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.hover-text-web-app:hover .tooltip-text {
    visibility: visible;
    width: 40%;
}


.right {
    top: -8px;
    left: 22%;
}
.mob-tooltip-text-dash-star {
    position: absolute;
    top: 64%;
    right: 25px;
}
.hover-text-web-app {
    position: absolute;
    top: 99%;
    right: 336px;
    transform: translateY(-50%)
}

.talkToAuth-container button {
    border-radius: 4px;
}

.ta-div-sub {
    margin-left: -9%;
    margin-top: -3.7%;

}

#ta-inpt-id {
    width: 68%;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding: 6px;
}

@media screen and (min-width:300px) and (max-width:340px) {
    #ta-3d-cards {
        margin-bottom: 66% !important;
        margin-left: 25% !important;
    }

    #ta-div-sub {
        margin-left: -33%;
        margin-top: -42.6%;
    }
}

@media screen and (min-width:350px) and (max-width:400px) {
    #ta-3d-cards {
        margin-bottom: 39%;
    }
}

@media screen and (max-width:600px) {
    .ta-div-sub {
        margin-left: -47%;
        margin-top: -27%;
    }
    #cc-input-div-dash{
        margin-top: 30%;
        /* margin-left: 11%; */
        width:60%;
    }
    #ta-inpt-id {
        width: 100%;
    }

    /* #ta-3d-cards{
        margin-left: 31% !important;
        margin-bottom: -9%;

    } */
    #dshbrd-btn-ta {
        width: 100%
    }

    #ta-fotr {
        padding-top: 43px;
        padding-bottom: 60px;
    }

    .hover-text-web-app {
        display: none;
    }
}