.cus-swiper-container {
  display: flex;
  gap: 80px;
  justify-content: center;
}

#reviews {
  padding: 60px 0px 0px 0px !important
}

.cus-swiper-container img {
  width: 360px;
  height: 400px;
}

.cus-swiper-container .content-container {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
}

.cus-swiper-container .content-container .content {
  width: 400px;
}

.cus-char-styles {
  display: flex;
}

.cus-char-styles .image-container {
  width: 100%;
}

.cus-char-styles img {
  width: 100%;
}

.cus-char-styles .content-container {
  position: relative;
}

.cus-char-styles .content-container .data {
  padding: 20px 150px 0px 150px;
}

.cus-char-styles .content-container .swiper-button-next {
  right: 50px;
  top: 260px;
}

.cus-char-styles .content-container .swiper-button-prev {
  left: 50px;
  top: 260px;
}

.cus-char-styles .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 120px;
  left: -179px;
}

.cus-char-styles .swiper-pagination-bullet {
  width: 50px;
  border-radius: 0px;
}

/* Media queries for responsiveness */

@media (max-width: 992px) {
  .cus-swiper-container {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .cus-swiper-container img {
    width: 310px;
    height: 350px;
  }

  .cus-swiper-container .content-container .content {
    width: 80%;
  }
}

@media (max-width:600px) {
  .swiper-button-prev:after {
    font-size: 0.4rem;
    font-weight: 1000;
    /* left: -6px; */
    color: white;
  }

  .characterData {
    text-align: justify;
    width: 250px;
    margin: 4px 17px;
    padding-left: 8px;
  }

  .swiper-button-prev {
    background-color: black;
    border-radius: 50%;
    /* padding:12px ; */
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
  }

  .swiper-button-next:after {
    font-size: 0.4rem;
    font-weight: 1000;
    color: white;
    /* right: -6px; */
  }

  .swiper-button-next {
    background-color: black;
    border-radius: 50%;
    /* padding:12px ; */
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
  }

  .cus-char-styles .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
    left: 0px;
  }

}

@media (max-width:375px) {
  .swiper-button-prev:after {
    font-size: 0.6rem;
    font-weight: 1000;
    color: white;
  }

  /* .characterData{
        text-align: justify;
        width: 300px;
        margin: 4px 17px;
        padding-left: 8px;
    } */
  utton-prev {
    background-color: black;
    border-radius: 50%;
    /* padding:12px ; */
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
  }

  .swiper-button-next:after {
    font-size: 0.6rem;
    font-weight: 1000;
    color: white;
    /* right: -6px; */
  }

  .swiper-button-next {
    background-color: black;
    border-radius: 50%;
    /* padding:12px ; */
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
  }

}

@media (max-width:425px) {
  .swiper-button-prev:after {
    font-size: 0.6rem;
    font-weight: 1000;
    color: white;
  }

  /* .characterData{
        text-align: justify;
        width: 360px;
        margin: 4px 17px;
        padding-left: 8px;
    } */
  .swiper-button-prev {
    background-color: black;
    border-radius: 50%;
    /* padding:12px ; */
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
  }

  .cus-char-styles .image-container {
    width: 100%;
    height: 300px;
  }

  .swiper-button-next:after {
    font-size: 0.6rem;
    font-weight: 1000;
    color: white;
    /* right: -6px; */
  }

  .swiper-button-next {
    background-color: black;
    border-radius: 50%;
    /* padding:12px ; */
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width : 345px) and (max-width: 410px) {
  .characterData {
    text-align: justify;
    width: 320px;
    margin: 4px 17px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width : 410px) and (max-width: 580px) {
  .characterData {
    text-align: justify;
    width: 350px;
    margin: 4px 26px;
  }
  .cus-char-styles .content-container {
    margin-bottom: 10%;
  }
}

@media (min-width : 768px) and (max-width: 780px) {
  .characterData {
    text-align: justify;
    margin: 4px 17px;
    padding-left: 35px;
    width: 600px;
  }

  .cus-char-styles .content-container .swiper-button-next,
  .cus-char-styles .content-container .swiper-button-prev {
    top: 187px;
  }

  .comment-div {
    gap: 5px;
    margin: 10px 106px;
  }

  .cus-char-styles .image-container {
    height: 60%;
  }

  .center-ftr {
    margin: 0%;
  }
}

@media (max-width: 790px) {
  .cus-char-styles {
    flex-direction: column;
  }

  .cus-char-styles .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cus-char-styles .content-container .data {
    padding: 0;
    text-align: center;
  }

  .cus-char-styles .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
    left: 0px;
  }

  .cus-char-styles .content-container .swiper-button-next {
    left: auto;
    right: 0%;
  }

  .cus-char-styles .content-container .swiper-button-prev {
    left: 0px;
    right: auto;
  }
}

@media screen and (min-width:540px) and (max-width:590px) {
  .characterData {
    width: 450px;
    margin: 4px 33px;

  }

  .cus-char-styles .image-container {
    width: 100%;
    height: 470px;
  }

  .cus-char-styles .content-container {
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 900px) and (max-width: 930px) {
  .cus-char-styles .content-container .data {
    padding: 20px 141px 0px 73px;
  }

  .characterData {
    width: 360px;
  }

  .cus-char-styles .content-container .swiper-button-next {
    right: 0px;
  }

  .cus-char-styles .content-container .swiper-button-prev {
    left: 18px;
  }

  .cus-char-styles .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 23px;
    left: -135px;
  }
}

@media screen and (min-width:1000px) and (max-width:1100px) {

  .cus-char-styles .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 40px;
    left: -80px;
  }
}
@media (max-width:300px){
  .characterData {
    text-align: justify;
    width: 198px;
  }
}