
  .announcement-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
  } 

  .normal-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
  
  .announcement-text{
    display: inline-block;
   justify-content: center;
   flex: 2;
  }
  .buyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    white-space: nowrap;
    color: white;
  }
  
  .content {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
  }
 


.announcementButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 264px;
  height: 41px;
  background: white;
  border-radius: 9px;
  font-size: 18px;
  font-weight: lighter;
  transition: 1s box-shadow;
  color:#0bea81;
  font-family: 'Poppins', sans-serif;
  flex: 1;
}

.announcementButton:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.announcementButton:hover::before, .announcementButton:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 264px;
  height: 41px;
  background: #FDA8CF;
  border-radius: 9px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.announcementButton:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
@media screen and (max-width:311px) {
    .buyButton{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      white-space: nowrap;
    }
}
@media screen and (max-width:320px){
  .announcement-bar{
    /* padding: 2px; */
  }
  .announcementButton{
    width: 90px;
    height: 37px;
    font-size: 12px;
  }
}
@media screen and (max-width:616px) {


}

@media screen and (max-width:452px) {

  .buyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    /* background-color: #f8d7da; */
    color: black;
    font-size: 16px;
    white-space: nowrap;
  
  }
  .buyButton:hover{
    color: #28a745;
  }
  }
  @media screen and (max-width:1016px) {
      
  }
  @media screen and (max-width:452px){
    .announcement-bar{
      display: flex;
      /* flex-direction: column; */
    }
    .announcement-content{
      display: flex;
      /* flex-direction: column; */

  }
  .announcement-text{
    font-size: 9px;
    margin-left: 0px;
  }
  .announcement-button{
    padding: 0px;
  }

}
  