.three-d-cards {
    /* margin-top:26%; */
    width: 240px;
    margin: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .three-d-cards:hover label {
  padding-top: 15px;
  transition: 0.1s ease-in;
  border-bottom: 0px solid darkgray;

  }
  .three-d-cards label{
    text-align: center;
    position: relative;
    padding: 10px 17px;
    display: block;
    bottom: 29px;
    color: #333;
    border-bottom: 1px solid darkgray;
    width: 262.5px;
    right: 4.7%;
    font-family: 'Soehne', sans-serif;
  }
  .cd-card {
    /* width: var(--cd-card-width);
    height: var(--cd-card-height); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding: 0 36px; */
    perspective: 2500px;
    margin: 66px 20px 30px 20px;
  }
  
  .cover-image {
    width: 262px;
    height: 390px;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    /* width: 100%; */
    z-index: -1;
  }
  
  .cd-card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .cd-card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .cd-card:hover .wrapper::after {
    height: 120px;
  }
  
  .cd-title {
    width: 130px;
    transition: transform 0.5s;
    height: 90px;
  }
  
  .cd-card:hover .cd-title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .cd-character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .cd-card:hover .cd-character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  @media screen and (max-width:560px) {
    .cover-image {
      width:196px;
      height:296px
    }
    .three-d-cards {
      width:13vw;
    }
    .cd-card {
      margin-top: 230px;
    }
    .three-d-cards label {
      display: flex;
      margin-left: -223%;
      width: 227.5px;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (min-width:340px) and (max-width:390px){
    
    .three-d-cards label {
      display: flex;
      margin-left: -193%;
      width: 250.5px;
    }
  }
  @media screen and (min-width:400px) and (max-width:500px){
    .three-d-cards label {
      display: flex;
      width:318px;
    }
    
  }