
.talktoAuthor-container {
  display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100%;
   line-height: 2rem;
   overflow: hidden;
   position: relative;
   font-family: 'Soehne', sans-serif;
 margin-left: 4.8%;
}

.containerBooking .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Header styles */
.containerBooking header {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

/* Paragraph styles */
.containerBooking p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  max-width: 550px;
  text-align: center;
}

/* Time content styles */
.time-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  max-width: 600px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.time .number {
  font-weight: 500;
  font-size: 40px;
}

.time .text {
  text-transform: capitalize;
  font-size: 12px;
}

/* Email content styles */
.email-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  max-width: 360px;
}
.hover-text-app:hover .tooltip-text {
  visibility: visible;
  width: 57%;
}
.hover-text-app {
  position: absolute;
  top: 49%;
  right: 336px;
  transform: translateY(-50%)
}
.email-content p {
  font-size: 13px;
}

.input-box {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 360px;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}

.input-box input[type="email"] {
  margin:6px;
  padding: 12px 15px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

input::placeholder {
  color: #fff;
}

.buttons {
  width: 30%;
  /* cursor: pointer; */
  color: #fff;
  white-space: nowrap;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  outline: none;
}

/* button:hover {
  background-color: #fff;
  color:#f14c42;
} */

@media (min-width:412px) and (max-width:420px) {
  .talktoAuthor-container{
    margin-top: 21%;
  }
  #ta-input-id{
    width:52% !important;
  }
}
@media  (min-width:320px) and (max-width:430px){
  .talktoAuthor-container{
    margin-left: -10.2% !important;
    height: auto;
    margin-bottom: 20%;
}
  #cc-input-div{
    width:52% !important;
  }
  
  #author-fotr{
    padding-top:0% ;
    margin-left: 22% !important;
  }
  .authr-inpt {
    width: 88% !important;
  }
  .ta-three-d-cards {
    margin-left: 34% !important;}
}
@media (min-width:700px) and (max-width:900px){
  #talkAuthor-tab{
    display: flex;
    gap: 182px !important;
  }
}
@media (max-width:300px){
  .talktoAuthor-container {
    height:auto;
  }
}
@media (min-width:900px){
  .talktoAuthor-container{
    margin-top: 13.5%;
  }
}

  .mob-tooltip-text {
    display: block;
    color: #014838;
    font-size: 10px;
    margin-bottom: 5px;
  }
