
#Testimonial-cusSwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
 bottom:0px;
 left:0px;
}
.review-stars {
    display: flex;
  }
  
  .star {
    font-size: 1.2rem;
    color: #ffc107; /* Adjust the color as needed */
    margin-right: 2px;
  }
  
  .star.filled {
    color: #f8d867; /* Adjust the filled color as needed */
  }
@media (max-width: 500px) {
    #Testimonial-cusSwiper .swiper-horizontal>.swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width:10px;
    }
  
}
@media (max-width:520px){
  #Testimonial-cusSwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
      transform: scaleX(80%);
  }

}
@media (min-width:920px){
    #Testimonial-cusSwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
        transform: scaleX(100%);
    }

}