.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  font-family: 'Cardo';
  /* font-family: 'Arial', sans-serif; */
  display: flex;
  display: flex;
  gap:4px;
}

.flip-clock {
  display:flex;
} 

.flip-card {
  perspective: 1000px;
  position: relative;
  width: 50px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card__top,
.flip-card__bottom {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 90%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #0bea81;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  border: 2px solid white;
}
.flip-clock p {
   margin-left: 14px;
   margin-top: 5px;
   display: flex;
   /* font-family:; */
   font-family: italic;
  
}
.filp-card-left{
  color: white;
  display: flex;
  gap: 1rem;
}
/* .flip-card:hover{
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  color: azure;

}
.fflip-card::before,.flip-card:hover::after{
  display: block;
  content: '';
  position: absolute;
  width: 47px;
  height: 39px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;

}
.flip-card:hover:after{
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
} */

.flip-card__top {
  transform: rotateX(0deg);
}

.flip-card__bottom {
  transform: rotateX(180deg);
}

@keyframes flip-top {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes flip-bottom {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.flip-card__top.flipping {
  animation: flip-top 0.5s ease-in-out forwards;
}

.flip-card__bottom.flipping {
  animation: flip-bottom 0.5s ease-in-out forwards;
}

@media screen  and (max-width:320px){
  .flip-clock p{
    font-size: 9px;
  }
  .flip-card__top,
  .flip-card__bottom{

    width: 76%;
   height: 52%;
   font-size: 12px;
   

  }
  .flip-clock p {
    margin-left: 0px;
    margin-right: 0px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 7px;
    margin-top: 12px;
    font-weight: bold;

  }

}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
