.countdown-banner {
  text-align: center;
  /* background: linear-gradient(-3deg, #3d3535, #dd0f0f); */
  color: white;
  padding: 8px;
  font-size: 22px;
  font-family: 'english-grotesque',sans-serif;
}
#countdown{
  color: white;
  font-size: 18px;
  font-family:italic ;
  
}

.countdown-card {
  background-color: #fff;
  color: #070707;
  padding: 15px;
  font-size: 24px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  display: inline-block;
  max-width: 100px;
  text-align: center;
  font-family: 'english-grotesque',sans-serif;
}

.countdown-card:hover {
  transform: scale(1.05);
}

/* #countdown {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 6px;
} */

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the spacing between buttons */
}

.buy-button {
  margin-left: 10px;
  background: #090909;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-family: 'english-grotesque',sans-serif;;
}
@media screen  and (max-width:320px){
  #countdown{
    font-size: 12px;
    margin-right: 0px;
  }

}
@media screen and (max-width:700px){
  .countdown-banner{
    display: flex;
    justify-content: flex-start;
  }
.countdown{
  font-size: 21px;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  /* white-space: nowrap; */
  color: black;
  
}

}

 @media screen and (max-width:544px){
  .countdown{
    font-size: 15px;
    
  }

} 
@media screen and (max-width:378px){
  .countdown{
    font-size: 12px;
    
  }
}

