header .navbar-nav .nav-link.active {
  color:#ff6a61;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */

    // height: 30px;
    padding: 0px;
    .navbar_fixed{

      box-shadow:linear-gradient(to right,#82009f 0%,#5d34af 50%,#00ceab 100%);
    }   
    .navbar {
      margin-top: 0px;
    }
    &.navbar_fixed {
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  
  .navbar {
    border: 0px;
    margin-top: 18px;
    // padding-left: 15px;
    // padding-right: 15px;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
    transition: all 0.4s ease-in-out;
    .navbar-brand {
      padding: 0px;
      display: none;
      cursor: pointer;
      @media screen and (max-width: 991px) {
          display: block;
      }
    }
    
    .navbar-nav li a {
      color: red;
    }

    .navbar-nav li a:hover,
    .navbar-nav li a.active {
      color: $color-primary;
      background: none;
    }

    .navbar-nav li a:hover:after,
    .navbar-nav li a.active:after {
      bottom: 0px;
    }
  }
  .navbar-expand-lg {
    display: flex;
    align-items: center;
    transition: 0.4s;
    padding: 22px 6px 5px 6px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
  }
  .navbar-toggler {
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 50%;
      background: $color-dark;
      opacity: 1;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      &:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px;
      }
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }
      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }
      &:nth-child(1) {
        left: 0px;
        top: 4px;
      }
      &:nth-child(2) {
        left: calc(50% - 4px);
        top: 4px;
      }
      &:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      &:nth-child(4) {
        left: 86%;
        opacity: 0;
      }
      &:nth-child(5) {
        left: 0px;
        top: 14px;
      }
      &:nth-child(6) {
        left: calc(50% - 4px);
        top: 14px;
      }
    }
    &.collapsed {
      span {
        &:nth-child(1),
        &:nth-child(2) {
          top: 2px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          top: 9px;
        }
        &:nth-child(5),
        &:nth-child(6) {
          top: 16px;
        }
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(0deg);
        }
        &:nth-child(3) {
          opacity: 1;
          left: 0;
        }
        &:nth-child(4) {
          opacity: 1;
          left: calc(50% - 4px);
        }
      }
    }
  }
}
.dropdown-toggle.active.show span {
  transform: rotate(180deg);
  color: $color-primary;
}

.menu {
  
  > .nav-item {
    position: relative;
    transition: all 0.2s linear;
    border-bottom: 1px solid transparent;
    margin-left: 15px;
    

    @include respond(desktop) {
      margin-left: 0;
    }
    a {
      padding-top: 8px;
      padding-bottom: 8px;
      display: block;

      &::after {
        transition: all 0.4s cubic-bezier(0.3, 0.1, 0.58, 1);
        opacity: 0;
        content: '';
        width: 100%;
        width: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        background: $color-primary;
        position: absolute;
        bottom: -10px;
        @include respond(laptop) {
          left: 10px;
          background: inherit;
        }
      }
    }
    &:nth-child(3) {
      @media screen and (max-width: 991px) {
           display: none;
      }
    }
    &:nth-child(3) {
      @media screen and (max-width: 320px) {
           display: none;
      }

    }
   
    &.submenu {
      .dropdown-menu {
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        left: -30px;
        min-width: 200px;
        padding: 15px 0px;
        background: $color-light;
        top: 100%;
        box-shadow: 0px 6px 20px 0px $color-shadow;
        @media (min-width: 992px) {
          transform: translateY(20px);
          transition: all 0.3s ease-in;
          opacity: 0;
          visibility: hidden;
          display: block;
        }

        .nav-item {
          display: block;
          width:148px;
          padding: 0px 30px;
          position: relative;
          &:not(:first-child) {
            margin-top: 14px;
          }
        

          .nav-link {
            padding: 0px;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 500;
            color: $color-dark;
            transition: color 0.2s linear;
           

            &:after {
              display: none;
            }
          }
          &:hover,
          &:focus {
            > .nav-link {
              color:#00ceab;
            }
          }

          > .dropdown-menu {
            transition: transform 0.3s ease-in;
            &:before {
              display: none;
            }
            @media (min-width: 992px) {
              position: absolute;
              left: 100%;
              top: -15px;
              opacity: 0;
              display: block;
              visibility: hidden;
              transform: translateY(20px);
              transition: all 0.3s ease-in;
            }
          }
        }
      }
    }
    &:hover {
      .nav-link {
        // color: $color-primary;
         color: #00ceab;
      }
      @media (min-width: 992px) {
        .dropdown-menu {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
          > .nav-item {
            &:hover {
              @media (min-width: 992px) {
                .dropdown-menu {
                  transform: scaleY(1);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }

 
}

@media (max-width: 991px) {
  .navbar-nav > li .sub-menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    background: $color-dark;
    width: 100%;
    height: 38px;
    width: 38px;
    margin-right: 0px;
    text-align: center;
    z-index: 1;
    border: 3px solid $color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light;
  }
}

@include respond(laptop) {
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    top: 100%;
    background: $color-light;
    box-shadow: 4px 6px 10px $color-shadow;
    z-index: 8;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 300px;
    overflow-y: scroll;
    
  }
  .menu > .nav-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    &.submenu .dropdown-menu {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      .nav-item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
@media screen and (max-width:"991px"){
 
      // .nav-link {
      
      //     img {
      //         display: none; 
              
      //         padding: 0px;
      //       }
            
      //   }
     .navbar-nav {
        li {
          &:nth-child(3) {
            display: none;
          }
        }
      }
      
      
    
  
  
}

.dropdown-toggle::after {
  border-top: 0px;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: space-evenly;
    }
  }
  @media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
  margin-top: 2px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  li {
    &:nth-child(3) {
        img{
            width: 100%;
            height:100%;
        }
    }
}
.nav-link{
  color: black;
  font-size: 16px;
  position: relative;
  font-weight: 600;
  font-family: "Philosopher", sans-serif;
  &:hover{
    color:#b32124;
    cursor: pointer;
    
  }
  &:hover {
    &:not(:nth-child(3)) {
      color: #ff6a61;
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
  &:not(:nth-child(3)) > img:hover + &::after {
    width: 0;
    opacity: 0;
  }

&::after{
  content:"";

  height: 2px;
  width: 0;
  position: absolute; 
  background:#ff6a61;
  left: 0;
  bottom: 0px;
  opacity: 0;
  transition: width 0.3s ease;
}
.nav-link:nth-child(3)::after img {
  display: none; /* Hide the ::after styles for the third link */
}


}
  }
  @keyframes move {
    40% {
      transform: translateY(var(.5s));
      text-shadow: var(--shadow-active);
    }
  }

}

@media screen and (min-width:900px) and (max-width:960px) {
  .header .navbar-toggler {
    position: relative;
    width: 275px;
    margin-right: -11%;}
}