.user-hdr-container{
    margin-top: 0px;
    margin-left: 6%;
    margin-right: 6%;
}
.user-header{
    border-bottom: 1px solid black;
}
.header .navbar-expand-lg {
    padding: 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 400;
}
.dashbord-lg{
    width:120px
}
.hover-background:hover {
    background-color: none;
  }
